body {
	background: black;
}

.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: 20% 40%;
}

.postcard-header {
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
}

.postcard-header h1 {
	width: 100%;
	margin: 0;
	margin-top: 15px;
}

.postcard-header img {
	width: 50px;
	height: 50px;
	margin: 0;
	margin-top: 10px;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin: 0;
}

.body-left,
.body-right {
	padding: 10px;
}

input {
	border: none;
	border-bottom: 1px solid grey;
}

.postcard-footer {
	text-align: center;
	background-color: white;
}

button {
	background-color: darkgrey;
	padding: 5px;
	border-radius: 5px;
}